$text-color : #636363;
$gradient-start: #FD282B;
$gradient-end: #CC176A;
.container{
    width:20vw;
    color: $text-color;
    
    .img-logo{
        text-align: center;
        margin-bottom:20px;
    }
    .main-menu{
        margin-bottom:20px;
        font-size: 12px;
    }
  
       
        .dashboard{
            text-decoration: none;
            background: linear-gradient(to right, $gradient-start 0%, $gradient-end 100%);
            width: 232px;
            height: 50px;
            border-radius: 10px;
            gap: 10px;
            display: flex;
            padding-left: 16px;
            align-items: center;
            color: white;
            
    
        }
        .link{
            text-decoration: none;
            display: flex;
            gap: 10px;
            width: 232px;
            padding-left: 16px;
            height: 50px;
            align-items: center;
            color: $text-color;
        }
        .logout{
            text-decoration: none;
            position: absolute;
            bottom: 20px;
            color: red;
            display: flex;
            gap: 10px;
            width: 232px;
            padding-left: 16px;
            height: 50px;
            align-items: center;
            color: $text-color;
    
        }
    
  
}