.main-container {
    display: flex;
    width: 78vw;
    

    @media (max-width : 800px) {
        display: none;

    }

    justify-content: space-between;

    .Image-container {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.mobile-nav{
    
   
    display: none;
    

    @media (max-width : 800px) {
        display: flex;
        width: 90vw;
        max-height: 77px;
        // padding: 20px 0px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom:3vh;
        .Image-container {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
    
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}
$text-color : #636363;
$gradient-start: #FD282B;
$gradient-end: #CC176A;
.nav{
    width: 15vw;
    height: 1478px;
    color: $text-color;
    padding-left: 2%;
    padding-top: 2%;
    position: relative;
    display: none;
    
    @media (max-width : 1800px) {
      width: 20vw;
     
        
    }
    @media (max-width : 800px) {
       position: absolute;
       top:10vh;
       width: auto;
       height: max-content;
       padding-bottom: 20px;
       background-color: rgb(248, 245, 245);
       z-index: 2;
       padding-right: 10px;
       box-shadow: 0 14px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
       display: block;
      
    
        
    }
    
    
    .img-logo{
        
        margin-bottom:40px;
        margin-left: 15%;
    }
    .main-menu{
        margin-bottom:20px;
        font-size: 12px;
    }
  
       
        .dashboard{
            text-decoration: none;
            background: linear-gradient(to right, $gradient-start 0%, $gradient-end 100%);
            width: 232px;
            height: 50px;
            border-radius: 10px;
            gap: 10px;
            display: flex;
            padding-left: 16px;
            align-items: center;
            color: white;
            
    
        }
        .link{
            text-decoration: none;
            display: flex;
            gap: 10px;
            width: 232px;
            padding-left: 16px;
            height: 50px;
            align-items: center;
            color: $text-color;
        }
        .logout{
            text-decoration: none;
            // position: absolute;
            bottom: 20px;
            color: red;
            display: flex;
            gap: 10px;
            width: 232px;
            padding-left: 16px;
            height: 50px;
            align-items: center;
            color: $text-color;
    
        }
    
  
}