.real-container{
    
    padding: 20px;
    .active-container{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #636363;
    font-size: 13px;
    padding: 10px 0px;
   
    .name{
        color: 
        #12151B;
        font-weight: 500;
    }
}}