// .real-container {
//     padding: 20px;
//     width: 450px;
//     position: relative;
//     bottom: 7vh;
//     @media (max-width : 500px) {

//         width: auto;
//         position: static;
        
        
//     }

//     .text-part {
//         display: flex;
//         justify-content: space-between;
       
//         width: 100%;
//         @media (max-width:800px) {
//             margin-left: 2vw;
//            }

//         .text-most {
//             font-weight: 600;
//             font-size: 24px;
//             margin-top: 0vh;
//             margin-bottom: 5vh;
           
//         }

//         .text-red {
//             color: red;
//         }
//     }

//     .active-container {
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         color: #636363;
//         font-size: 13px;
//         padding: 10px 0px;

//         .name {
//             color: #12151b;
//             font-weight: 500;
//         }
//         .active-indicator {
//             width: 10px;
//             height: 10px;
//             background-color: green; 
//             border-radius: 50%;
//           }
//     }
// }
.real-container {
    padding: 20px;
    width: 450px;
    position: relative;
    bottom: 7vh;
  
    @media (max-width: 500px) {
      width: auto;
      position: static;
    }
  
    .text-part {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;
  
      @media (max-width: 800px) {
        margin-left: 2vw;
      }
  
      .text-most {
        font-weight: 600;
        font-size: 24px;
        margin-top: 0vh;
        margin-bottom: 5vh;
      }
  
      .text-red {
        color: red;
        cursor: pointer;
      }
    }
  
    .active-container {
      display: flex;
      align-items: center; 
      gap: 10px;
      color: #636363;
      font-size: 13px;
      padding: 10px 0px;
     
      .name {
        color: #12151b;
        font-weight: 500;
      }
  
      .active-indicator {
        width: 10px;
        height: 10px;
        background-color:#00C177; 
        border-radius: 50%;
        position: absolute;
        bottom: 5px;
        right: 0;
      }
    }
  }
  